.index_body {
	margin: 0px;
}

.ncontainer {
	margin-top: 75px;
	/*max-width: 960px;*/
	background-color: #F2F2F2;
	height: 10000px;
}

.alanna{
	font-style: calibri;
	font-size: 32px;
	color: purple;
	font-weight: bold;
	font-style: italic;
	text-decoration:underline;
}

.img-circle-a{
	border:30px;
	border-color: purple;
	width:300px;
	height:300px;
}
.media-heading-a1{
	font-style:calibri;
	font-size:28px;
	color:black;
	text-align: left;
}
.media-heading-a{
	font-style:calibri;
	font-size: 20px;
	color: red;
	text-decoration:underline;
}
.nheader {
	text-transform: uppercase;
	text-align: center;
}

.employee {
	font-size: 30px;
	text-transform: none;
}

.employee:hover {
	color: #985E6D;
}

.nlist {
	list-style: none;
	text-align: center;
}

li a {
	color: #0467A8;
	text-decoration: none;
}

.description {
	text-align: center;
	margin-top: 50px;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 75px;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: #0467A8;
}

.logo {
	height: 75px;
	float: left;
}

.navbar_content {
	float: right;
	margin-right: 50px;
}

.navbar_content ul {
	list-style: none;
}

.navbar_content ul li {
	display: inline-block;
	width: 120px;
	height: 75px;
	padding: 15px;
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown_content {
	display: none;
	width: 120px;
	position: absolute;
	background-color: rgba(0,0,0,0.75);
	/*margin-right: auto;
	margin-left: auto;*/
	color: #0467A8 !important;
}

.dropdown:hover .dropdown_content {
	display: block;
}

