.alanna{
	font-style: calibri;
	font-size: 32px;
	color: purple;
	font-weight: bold;
	font-style: italic;
	text-decoration:underline;
}

.img-circle-a{
	border:30px;
	border-color: purple;
	width:300px;
	height:300px;
}
.media-heading-a1{
	font-style:calibri;
	font-size:28px;
	color:black;
	text-align: left;
}
.media-heading-a{
	font-style:calibri;
	font-size: 20px;
	color: red;
	text-decoration:underline;
}
=======
.nheader {

}


.employee {
	font-size: 30px;
	text-transform: none;
}

.employee:hover {
	color: #985E6D;
}

li a {
	color: #192231;
	text-decoration: none;
}
>>>>>>> origin/master
